@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

:root {
  --background: #272727;
  --secondary-bg-color: #17141d;
  --font-color: #fff;
  --title-font-color: #fff;
  --green: #12a76e;
  --shadow-color: #808080;
  --bears: #98c84c;
  --penguins: #2c8ad0;
  --macaws: #f00a2c;
  --whales: #004593;
  --zebras: #e4ddde;
  --tigers: #876540;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Mono', 'Roboto', monospace;
  font-size: 1.5rem;
}

body {
  background: var(--background);
  color: var(--font-color);
}
